@import url('https://fonts.googleapis.com/css2?family=Lora&family=Poppins&family=Ubuntu:wght@300;400&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    
    font-family:'poppins','san-serif';
}
:root
{
    --bg-color:#1f242d;
    --second-bg-color:#323946;
    --text-color:#fff;
    --main-color:#0ef;
}
html
{
    font-size: 62.5%;
    overflow:scroll;
}
body
{
    background: var(--bg-color);
    color: var(--text-color);
}
section{
    min-height: 100vh;
    padding: 10rem 9% 2rem;
}
.header
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background: var(--bg-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.logo
{
    font-size: 2.5rem;
    color: var(--text-color);
    font-weight: 600;
    cursor: default;   
}
.navbar a
{
    font-size: 2rem;
    color: var(--text-color);
    margin-left: 4rem;
    transition: .3s;
}
.navbar a:hover,
.navbar a.active
{
    color: var(--main-color);

}
#menu-icon
{
    font-size: 3.6rem;
    color: var(--text-color);
    display: none;
}
.home-img
{
    width: 35vw;
}
.home
{
    display: flex;
    justify-content: center;
    align-items: center;
}
.home-content h3
{
    font-size: 4rem;
    font-weight: 700;
}
span{
    color: var(--main-color);
}
.home-content h1
{
    font-size: 5.6rem;
    font-weight: 700;
    line-height: 1.3;
}
.home-content p{
    font-size: 1.6rem;

}
img {
    height: 650px;
    width: 650px;
}
.social-media a
{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background: transparent;
    border: .2rem solid var(--main-color);
    border-radius: 50%;
    font-size: 2rem;
    color: var(--main-color);
    margin: 3rem 1.5rem 3rem 0;    
}
.social-media a:hover
{
    background: var(--main-color);
    color: var(--second-bg-color);
    box-shadow: 0 0 1rem var(--main-color);
}
.btn
{
    display: inline-block;
    padding: 1rem 2.8rem;
    background-color: var(--main-color);
    border-radius: 4rem;
    box-shadow: 0 0 1rem var(--main-color);
    transition: .5s ease;
}
.btn:hover{
    box-shadow: none;
}
.about
{
    display: flex;
    justify-content: center;
    align-items:center ;
    gap: 0rem;
    background-color: var(--second-bg-color);
}
.about-img img
{
    width: 575px;
    height: 600px;
}
.heading
{
    text-align: center;
    font-size: 4.5rem;
    padding:31px;
}
.about-content h2
{
    text-align: left;
    line-height: 1.2;
}
.about-content h3{
    font-size: 3rem;
}
.about-content p{
    font-size: 1.5rem;
    margin: 2rem 0 3rem;
}
.education
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
    padding-bottom: 3rem;
    min-height: auto;
    background-color:var(--bg-color)
}
.education .education-row
{
    display: flex;
    flex-wrap:wrap;
    gap :3rem;
}
.education-row .education-column
{
    flex: 1 1 40rem;
}
.education-column .title
{
    font-size: 2.5rem;
    margin: 0 0 1.5rem 2rem;
}
.education-column .education-box
{
    border-left: .3rem solid var(--main-color);
}
.education-box .education-content
{
    position: relative;
    padding-left: 2rem;
}
.education-content .content
{
    position: relative;
    padding: 1.5rem;
    border: .2rem solid var(--main-color);
    border-radius: .6rem;
    margin-bottom: 2rem;
}
.education-box .education-content
{
    position: relative;
    padding-left: 2erm;
}
.education-content .content
{
    position: relative;
    padding: 1.5rem;
    border: .2rem solid var(--main-color);
    border-radius: .6rem;
    margin-bottom: 2rem;
}
